@model MeetingForum.Models.Article

@{
    ViewBag.Title = Model.Title;
}
<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @if (Model.Image != null)
            {
                @Html.Raw("<img style='max-width:400px; max-height:200px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" />")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublish)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Изменить", "EditArticle", new { id = Model.Id }) |
    @Html.ActionLink("Удалить", "DeleteArticle", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>