

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


    @foreach (var item in ViewBag.Articles)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.Accepted
            </td>
            <td>
                @item.DatePublish
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    @foreach (var item in ViewBag.Events)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Message
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
